* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #d8856e);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  padding-top: 1rem;
  margin: 2rem;
  font-size: 1rem;
}

header,
form {
  /* min-height: 20vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 2rem;
}

form input, 
form button {
  padding:1.5rem;
  font-size: 2rem;
  border:none;
  background: white;
}

form button {
  color: #d8856e;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #d8856e;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  /* min-width: 30%; */
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  /* pushes all the bottons to the far end */
  flex:1;
}

.todo-item {
  padding: 0 0.5rem;
}

.trash-button,
.complete-button {
  background: #ec7b5b;
  color: white;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-button {
  background-color: rgb(78, 207, 117);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transition: all 0.5sec ease;
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* below removes popinter events eg; 'click' event */
.fa-trash,
.fa-check {
  pointer-events:none;
}

/* removing syles from select tag */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  height: 3rem;
}

select, option {
  color: #ec7b5b;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
}
.select::after {
  /* Below is the down arrow icon */
  content: "\25BC";
  position: absolute;
  background: #ec7b5b;
  top: 0;
  right: 0;
  padding: 1rem;
  /* Below allows the arrow to be clicked on */
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after {
  background: white;
  color: #ec7b5b;
}





